# -------------------------------
# NODE / TYPESCRIPT PROJECTS
# -------------------------------

# Dependências
node_modules/

# Compilação de TypeScript
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Variáveis de ambiente
.env

# -------------------------------
# PRISMA
# -------------------------------
apps/api/prisma/dev.db
apps/api/prisma/migrations/
apps/api/prisma/migration_lock.toml

# -------------------------------
# IDE / SISTEMA
# -------------------------------
.vscode/
.idea/
.DS_Store