# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ambiente
.env
.env.*

# Build e cache
dist/
build/
.cache/
.vite/
.vscode/
.idea/
.DS_Store

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# Prisma / SQLite
apps/api/prisma/dev.db
apps/api/prisma/migrations/
apps/api/prisma/migration_lock.toml

# Arquivos temporários
tmp/
*.tmp
*.swp
*.swo

# Sistema
*.bak
*.old
